body {font-family: Arial, Helvetica, sans-serif;
background-color: rgba(252,252,252,255);}
header{
    background-color: rgba(103,182,57,255);
    color: rgba(253,255,252,255);
    height:60px;
    line-height: 60px;
    text-align: center;
    text-shadow: 3px 3px rgba(92,165,50,255);
   font-size:24px;
    font-weight: bold;
    
}
.wrapper {
    text-align: center;
    ;
}

.button {
    position: absolute;
    top: 50%;
}
#myBtn{
    
    font-size: 20px;
    
    background-color:rgba(103,182,57,255);
    color: rgba(253,255,252,255);
    text-shadow: 1px 1px rgba(92,165,50,255);
    border: 1px solid rgba(103,182,57,255);
    
    text-align: center;
    margin-left:-100px;
    width:190px
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(255, 251, 251, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
   text-align: left;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#resultado{
    font-size:24px;
    color: rgb(103,181,58);
   
}

#imc{
    color: rgba(198,198,198,255);
    display: flex;
    align-items: center;
    text-align: center;
    float:center;
    margin-left:43%;
   
}
input {width:150px;
    height:30px}

#KG{
    color: rgb(103,181,58) ;
    
}
#imagenes  {
    width:70px;
    display:flex;
   align-items:right;
   margin-left:100%;
   }

form { 
    margin: 0 auto; 
    width:500px;
    }
   
form  { display: table;     }
p     { display: table-row;   }
label { display: table-cell; text-align:right; }

input { display: table-cell;  margin-top: 15px;}


.center{
    text-align: center
}
#sex{
    margin-right: 40px;
    margin-left: -40px;
}
img{
    margin-right: 15px;
}